.bookingForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: cadetblue;
    align-items: center
}

.formBody {
    display: flex;
    flex: 1;
    background-color: coral;
    justify-content: center;
}

.formBody>div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.footer>input {
    height: 50px;
    width: 200px;
    border-radius: 5px;
}