.bookingForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    background-color: cadetblue;
}

.formBody {
    flex: 1;
    background-color: coral;
    min-width: 100%
}

.footer>input {
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

label {
    width: 150px;
}