 .reporting {
     flex: 1;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 5px;
     background-color: cadetblue;
 }

 .reporting-body {
     display: flex;
     flex: 1;
     background-color: cadetblue;
     flex-direction: column;
     min-width: 100%
 }

 .reporting-footer {
     width: 100%;
     justify-content: space-between;
     display: flex;
 }

 .reporting-footer>input {
     height: 50px;
     width: 200px;
     border-radius: 5px;
 }