 html, body {
   height: 100%;
   margin: 0;
 }

 .App {
   flex: 1;
   display: flex;
   flex-direction: column;
   background-color: olive;
 }

 .App-body {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rebeccapurple;
 }

 .offline {
   background-color: red;
 }

 .online {
   background-color: green;
 }

 .statusHeader {
   display: flex;
 }

 .statusHeader>img {
   width: 24px;
 }